#welcome-text{
    height: 100px;
    background: #ccc;
    color: #333;
    font-size: 40px;
}

#copy-rights{
    height: 100px;
    width: 100%;
    background: #333;
    color: #ccc;
    position: fixed;
    bottom: 0px;
    font-size: 40px;
}