<div id="welcome-text">
    Welcome to {{article.name}}!
</div>

<app-test></app-test>

<!-- <button (click)="handleClick()">Click Me</button> -->
<!-- <div *ngIf="isArticleVisible"> -->
  <!-- <input id="username" [disabled]="isInputDisabled" [value]="article.name" [placeholder]="article.name"/> -->

  
  <!-- <ul *ngFor="let article of articles">
    <li>{{article.name}}</li>
  </ul>
  
  <app-login></app-login> -->
  

<!-- </div> -->
<div id="copy-rights">
    Copy rights reserved by {{article.name}}!
</div>